h1 {
    text-align: center;
    color:red;
    font-family: verdana;
    font-size: 300%;
}

.container {
    display: flex;
    width: 90%;
    height: 60%;
    justify-content: space-around;
    padding-left: 100px;
}

.category {
    align-self: center;
    display: flex;
    width: 700px;
    height: 700px;
    border: 2px solid black;
    text-align: center;
    flex-direction: column;
}

#btn-answer {
    height: 50px;
    width: 100px;
    margin-left: 50px;
    border-left: 2px;
}

#btn-question {
    height: 50px;
    width: 100px;
    margin-left: 50px;
    border-left: 2px;
}

#answer {
    height: 150px;
    color: green;
    font-size: 150%
    text-align: center;
}
#question {
    height: 150px;
    color: rgb(13, 40, 196);
    font-size: 150%
    text-align: center;
}

